#landing-page{
    z-index: 10000;
    background-color: #1b433277;
}
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #b7e4c7;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #1b4332;
  font-size: 16px;
}

input[type="text"]::placeholder {
  color: #74c69d;
}
